/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------------------------------------------------------------------------*/

html {
    font-size: 10px;
    font-family: Thasadith;
    color: #2c0735;
}

.logoImg {
    
    width: 83px;
    height: 80px;
   
   
}

.navdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    width: 100%;
    padding: 50px;
    background-color: rgba(78, 20, 140, 0.68);
    position: fixed;
}

.nav2 {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    margin-right: 40px;
    width: 100%;
} 


nav a {
    text-decoration: none;
    font-size: 2.5rem;
    color: white;
    margin: 20px 40px 0px 40px;
    
    
}

h1 {
    font-size: 5.5rem;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 40px;
}

p {
    font-size: 2.5rem;
}

.DropDown {
    width: 100%;
}

.ContainPic {
   margin: 40px;
}

button {
	width: 150px;
    height: 50px;
    font-size: 1.5rem;
    text-align: center;
	margin-top: 40px;
    border-radius: 25px;
    color: white;
    background-color: #4e148c;
	
}

.featuresContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.SubContainer {
    margin-top: 40px;
    margin-bottom: 20px;
    
}

.ImgTxt {
    display: flex;
    flex-direction: row-reverse;

}

.ImgTxt2 {
    display: flex;
    flex-direction: row;
}



.SubInfoL {
    margin-top: 115px;
    margin-right: 240px;
    width: 40%;
    text-align: center;

}

.SubInfoR {
    margin-top: 115px;
    margin-right: 260px;
    width: 42%;
    text-align: center;

}


footer {
    width: 100%;
    height: 90px;
    background-color: #232323;
}